name: Publish to NPM

on: push

jobs:
  publish:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
      - name: Retrieve the cached "node_modules" directory (if present)
        uses: actions/cache@v4
        id: node-cache
        with:
          path: node_modules
          key:
            node-modules-${{ runner.os }}-${{ hashFiles('package-lock.json') }}
      - name: Install dependencies (if the cached directory was not found)
        if: steps.node-cache.outputs.cache-hit != 'true'
        run: npm ci
      - name: Build
        run: npm run build
      - name: Update npm
        run: npm install -g npm@latest
      - uses: JS-DevTools/npm-publish@v4
        with:
          access: 'public'
